
APP_ENV=production
PORT=

OPENROUTER_API_KEY=

TELEGRAM_PATIENT_BOT_TOKEN=
TELEGRAM_PATIENT_BOT_USERNAME=

TELEGRAM_STAFF_BOT_TOKEN=
TELEGRAM_STAFF_BOT_USERNAME=
TELEGRAM_STAFF_CHAT_ID=


SITE_URL=


UPLOADS_DIR=/app/uploads

EMAIL_USER=
EMAIL_PASSWORD=
BITRIX_WEBHOOK=


ADMIN_LOGIN=
ADMIN_PASSWORD=
